.grid-container {
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    //grid-template-columns: auto auto auto auto;
  //grid-template-columns: repeat(3, 150px);
  //grid-template-rows: repeat(3, 170px);
}

.grid-item {
  height: 350px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 20px;
  text-align: center;
  width: 410px;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 10px;
}
.grid-item:hover {
  //color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.1);
}
.grid-item:active {
  //color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.1);
}

.grid-item_img {
  object-fit: contain;
}


.grid-item_sub1 {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
}

.grid-item_sub2 {
  text-align: start;
  padding-left: 10px;
}

.grid-item_sub2t1 {
font-weight: Bold;
font-size: 20px;
}

.grid-item_sub2t2 {
font-weight: Lighter;
font-size: 13px;
}
.grid-item_sub2t3 {
font-weight: Lighter;
font-size: 13px;
}

.grid-item_paragraph {
  height: 87px;
  text-align: start; 
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}